.search-panel {
  position: relative;
  display: flex;
  width: 200px;
}

.search-input {
  width: 100%;
  flex-grow: 1;
  margin-right: 3px;
}

.close {
  position: absolute;
  top: 6px;
  right: 10px;
  border: none;
  background-color: inherit;
}
