.taskList {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.taskList__link {
  text-decoration: none;
}
.taskList__BlockButton {
  margin-top: 10px;
}
